@import url('https://fonts.googleapis.com/css2?family=Acme&family=Nunito&family=Raleway&family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #320d3e;
    box-sizing: border-box;
}

.Songs, .Feedback {
    display: flex;
}

.Feedback.empty {
    min-height: 300px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.list {
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    padding: 5px;
    min-height: 400px;
    min-width: 250px;
}

.list > ul {
    list-style-type: none;
    padding: 0;
}

.list li {
    white-space: nowrap;
    cursor: pointer;
}

.list > button {
    width: 100%;
}

.editor {
    width: 100%;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
}

.editor .centered {
    align-self: center;
    margin-top: 20px;
}

.selected {
    font-weight: bold;
}

input, textarea {
    width: 100%;
}

textarea {
    min-height: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header > div {
    display: flex;
}

img {
    height: 50px;
    margin: 5px;
}

.button {
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 40px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    font-family: 'Acme';
    font-size: 16pt;
    cursor: pointer;
}

.button.selected {
    color: #320d3e;
    background-color: white;
}

.buttons {
    margin-top: 5px;
}